@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  .section-wrapper {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header {
    margin-bottom: 20px;
  }

  .description-flex {
    width: 100%;
  }

  .description-flex textarea {
    height: 150px;
  }

  .info-flex {
    width: 100%;
  }
}
